:root
  --color-primary #000c72
  --color-link #000c72

.suggest-chain-example-table {
    table {
        thead {
            tr {
                th {
                    min-width: 12rem;
                }
            }
        }
    }
}
